@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

a:hover,
i:hover {
  color: #c7b299;
}

.container {
  width: 100%;
  max-width: 1235px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/********global**********/
.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.btn {
  background-color: #998675;
  padding: 15px 30px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
}

.title {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #998675;
}

/*header*/
.header {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

}

.header__inner {
  padding: 0px 35px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}

.header-menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-menu__list li {
  margin: 0px 17px;
}

.header__menu__link,
.header-icons__item {
  color: white;
}

.header__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.header-icons__item {
  font-size: 18px;
  margin: 0px 0px 0px 10px;
}

.header-icons {
  margin: 0px 0px 0px 60px;
}

.header-menu__burger {
  display: none;
}

@media screen and (max-width:767px) {
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: -200%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    padding: 100px 30px 20px 30px;
    transition: all 400ms ease-in 0s;
  }

  .header-menu.active {
    top: 0;
  }

  .header-menu__list {
    flex-direction: column;
  }

  .header-menu__list li {
    margin: 0px 0px 15px 0px;
  }

  .header__menu__link {
    font-size: 16px;
  }

  .header-icons {
    margin: 0px 0px 0px 0px;
  }

  .header-menu__burger {
    display: block;
    position: absolute;
    top: 25px;
    right: 50px;
    z-index: 5;
  }

  .header-menu__burger span {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    display: block;
    transition: all 0.3s ease 0s;
    position: relative;
  }

  .header-menu__burger.active span:first-child {
    transform: rotate(45deg);
    top: 10px;
  }

  .header-menu__burger.active span:last-child {
    transform: rotate(-45deg);
    bottom: 12px;
  }

  .header-menu__burger.active span {
    transform: scale(0);
  }
}

/*home section*/
.home {
  background: url("../img/home_bg.jpg") center no-repeat;
  background-size: cover;
  height: 1020px;
}

.home__inner {
  padding: 425px 0px 0px 0px;
  color: #fff;
  text-align: center;
}

.home__subtitle,
.home__title {
  font-family: 'Raleway', sans-serif;
}

.home__subtitle {
  font-size: 36px;
  font-weight: 500;
}

.home__title {
  font-size: 52px;
  font-weight: 800;
  margin: 15px 0px 0px 0px;
}

.home__text {
  margin: 30px 0px 0px 0px;
}

.home__button {
  margin: 50px 0px 0px 0px;
}

/*slicker css*/
.slick-next:before {
  content: "›";
}

.slick-prev:before {
  content: "‹";
}

.slick-prev:before,
.slick-next:before {
  font-size: 100px;
}

.slick-prev,
.slick-next {
  top: 25%
}

@media (max-width: 991.98px) {

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}

/*****services*******/
.services__inner {
  padding: 65px 0px;
  color: #555555;
}

.services__list {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px -20px;
  justify-content: center;
}

.services__item {
  width: 100%;
  flex: 0 1 260px;
  text-align: center;
  margin: 5px 20px;
}

.services__item::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f1eee9;
  margin: 30px auto 0px auto;
}

.services__item:hover .services__icon,
.services__item:hover .services__title {
  color: #c7b299;
}

.services__item:hover.services__item::after {
  background-color: #c7b299;
}

.services__icon {
  color: #555555;
}

.services__title {
  color: #555555;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 30px 0px 0px 0px;
}

.services__text {
  color: #555555;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
}

.services__icon {
  font-size: 40px;
}

/*****ideas******/
.ideas {
  position: relative;
}

.ideas__inner {
  padding: 70px 0px 0px 0px;
  text-align: center;
  height: 700px;
  position: relative;
}

.ideas__body {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.ideas__text {
  margin: 30px 0px 0px 0px;
}

.ideas__images {
  margin: 40px 0px 0px 0px;
  height: 482px;
  position: relative;
  width: 100%;
}

.ideas__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1199.98px) {
  .ideas__item {
    width: 60%;
  }

  .ideas__inner {
    height: 650px;
  }
}

@media (max-width: 991.98px) {
  .ideas__item {
    width: 60%;
  }

  .ideas__inner {
    height: 500px;
  }
}

@media (max-width: 767.98px) {
  .ideas__item {
    width: 50%;
  }

  .ideas__inner {
    height: 450px;
  }
}

@media (max-width: 575.98px) {
  .ideas__inner {
    height: 400px;
  }
}

.ideas__item_first {
  z-index: 5;
}

.ideas__item_second {
  z-index: 4;
  left: 35%;
}

.ideas__item_third {
  z-index: 3;
  right: 35%;
}


/*****bar sectoin****/
.bar {
  background: url("../img/bar_bg.jpg") center no-repeat;
  background-size: cover;
}

.bar__inner {
  padding: 50px 0px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
}

.bar__title {
  font-size: 28px;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}

.bar__title_brown {
  color: #c7b299;
}

.bar__text {
  font-size: 18px;
  font-family: "Montserrat";
  color: #615855;
  margin: 10px 0px 0px 0px;
}


/*****project section******/
.projects__inner {
  padding: 80px 0px;
}

.projects__body {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}

.projects__title {
  color: #555555;
}

.projects__text {
  margin: 30px 0px 0px 0px;
}

.projects__filter-buttons {
  margin: 40px 0px 0px 0px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
}

.project__button {
  padding: 10px 20px;
  color: #998675;
  border: 1px #998675 solid;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
}

.project__button:hover {
  color: #fff;
  background-color: #998675;
}

.projects__works {
  margin: 25px 0px 0px 0px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  height: 340px;
  margin: 10px 0px 0px 0px;
  position: relative;
}

.project-item:hover .project-item__layer {
  background-color: #362f2d;
  transition: all 500ms ease-in 0s;
}

.project-item__image {
  width: 370px;
  height: 240px;
  position: absolute;
  z-index: 4;
}

.project-item__overlay {
  display: block;
  background-color: #00000059;
  position: absolute;
  width: 370px;
  height: 0;
  top: 0;
  z-index: 5;
  overflow: hidden;
  transition: all 400ms ease-in 0s;
}

.project-item:hover {
  cursor: pointer;
}

.project-item:hover .project-item__overlay {
  height: 240px;
}

.project-item__layer {
  background-color: #fbfaf8;
  display: block;
  position: absolute;
  bottom: 15px;
  height: 110px;
  width: 100%;
  z-index: 5;
  -webkit-clip-path: polygon(16% 0, 23% 12%, 100% 12%, 100% 70%, 100% 100%, 67% 100%, 21% 100%, 0 100%, 0 13%, 8% 13%);
}

.project-item__icons {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project-item__ico {
  font-size: 35px;
  margin: 0px 0px 0px 5px;
}

.project-item__body {
  height: 100%;
  display: block;
  position: relative;
  top: 50%;
  margin: 0px 0px 0px 30px;

}

.project-item__title {
  font-size: 20px;
  font-family: "Raleway";
  color: #c7b299;
}

.project-item__about {
  font-size: 14px;
  font-family: "Montserrat";
  color: #d1d1d1;
}

.project-item:hover .project-item__title {
  color: #fff;
}

.project-item:hover .project-item__about {
  color: #c7b299;
}

.project__btn {
  display: block;
  margin: 20px auto 0 auto;
}

/*****presentation*****/

.presentation {
  background: url("../img/presentation_bg.jpg") center no-repeat;
  background-size: cover;
}

.presentation__inner {
  padding: 200px 0px;
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}


.presentation__play {
  width: 100%;
  max-width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.presentation__title {
  margin: 50px 0px 0px 0px;
  color: #fff;
}

.presentation__text {
  margin: 30px 0px 0px 0px;
  color: #fff;
}

.presentation__time {
  margin: 40px 0px 0px 0px;
}

/*****excellent section*****/
.excellent {}

.excellent__inner {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.excellent__left {}

.excellent__image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .excellent__left {
    display: none;
  }

}

.excellent__right {
  margin: 110px 0px 0px 0px;
}

.excellent__body {}

.excellent__title {}

.excellent__text {
  margin: 40px 0px 0px 0px;
}

.excellent__list {
  margin: 35px 0px 0px 50px;
}

.excellent__item {
  list-style-image: url("../img/arrowLi.png");
  padding-left: 35px;
  margin: 15px 0px 0px 0px;
}